body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.userList{
    width: 15vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#timer{
    font-size: 25px;
    color: red;
    padding: 7px;
}
i{
    color: dodgerblue;
}

.au{
    padding: 5px;
    font-size: 20px;
    color: darkslategrey;
    background-color: #eee;
}

.userList .activeUsers{
    overflow-y: scroll;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid whitesmoke;
}

.userList .activeUsers .userDetails{
    text-align: center;
    padding: 5px;
    border: 1px solid whitesmoke;
    font-size: 20px;
    text-transform: capitalize;
    word-wrap: break-word;
    width: 93%;
}

.un{
    color: darkslategray;
}

.us{
    color: lightgreen;
}

#modal{
    width: 35vw;
    height: 15vw;
    background-color: rgba(255, 255, 255, 0.59);
    position: absolute;
    align-self: center;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    color: darkslategray;
    border: 1px solid lightgrey;
    border-radius: 20px;
}

.modalH{
    display: flex;
    justify-content: center;
    width: 100%;
}

#close{
    font-size: 50px;
    position: absolute;
    right: 20px;
}

#close:hover{
    cursor: pointer;
}

#wordForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wordForm .wordInp{
    width: 30vw;
    height: 5vh;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 30px;
}

#wordForm .wordBtn{
    width: 10vw;
    height: 5vh;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: none;
}

.guessWordDisp{
    width: 30vw;
    height: 20vh;
    border: 1px solid lightgrey;
    border-radius: 40px;
    background-color: white;
    position: absolute;
    text-align: center;
    top: 100px;
    display: none;
}

.guessWordDisp p{
    color: darkslategrey;
    font-size: 20px;
}

.guessWordDisp #guessWord{
    color: tomato;
    text-transform: capitalize;
}

.winner{
    width: 25vw;
    height: 25vh;
    border: 1px solid lightgrey;
    border-radius: 40px;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    top: 100px;
    text-transform: capitalize;
    visibility: hidden;
}

.winner .h {
    color: dodgerblue;
    font-size: 27px;
}

.winner .win{
    font-size: 30px;
    color: red;
}

.winner a{
    text-decoration: none;
    color: darkslategrey;
    padding: 15px;
}



.board{
    border: 1px solid lightgrey;
    padding: 10px;
    background-color: whitesmoke;
    text-align: center;
    width: 67vw;
}

.board .canvasDisplay{
    width: 100%;
    height: 5vh;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    color: darkslategray;
}

.board .canvasDisplay .round{
    font-size: 18px;
    margin-left: 25px;
}

.board .canvasDisplay .canvasInfo{
    font-size: 20px;
}

.board .canvasDisplay .wordLength{
    font-size: 18px;
    margin-right: 25px;
    min-width: 25%;
}

canvas{
    margin-top: 5px;
    background-color: white;
}

.board .canvasElements{
    display: flex;
    justify-content: center;
    padding: 15px;
}

#strokeWeight{
    width: 20px;
    margin-left: 5px;
    text-align: center;
}

.colorPlate{
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    margin: 0 100px;
}
.square{
    width: 25px;
    height: 25px;
}

.square:hover{
    cursor: pointer;
}

.chooseBtn{
    padding: 7px;
    background-color: white;
}

.clearBtn{
    padding: 3px;
    background-color: white;
    border-radius: 5px;
}

.chatArea{
    width: 18vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatArea .chatHeading{
    font-size: 25px;
    padding: 10px;
}

.chatArea .chatInbox{
    height: 80vh;
    width: 99%;
    border: 1px solid grey;
    overflow-y: scroll;
}

.chatArea .chatInbox .msgInfo{
    border: 1px solid lightgrey;
    padding: 5px;
    text-transform: capitalize;
    background-color: whitesmoke;
    text-align: center;
}

.chatArea .chatInbox .chatMessages{
    border: 1px solid lightgrey;
    padding: 5px;
    word-wrap: break-word;
}

.guessed{
    border: 1px solid lightgrey;
    padding: 5px;
    word-wrap: break-word;
    color: limegreen;
    text-align: center;
    font-size: 18px;
}

.chatArea .inputs{
    height: 15vh;
    width: 100%;
    text-align: center;
}

.inp{
    width: 96%;
    height: 7vh;
    font-size: 16px;
}

.sendBtn{
    width: 100%;
    height: 7vh;
    background-color: tomato;
    color: whitesmoke;
}


@media screen and (max-width: 550px){
    .userList{
        width: 20%;
    }

    .au{
        font-size: 8px;
    }

    #timer, .un, .us{
        font-size: 10px;
    }

    .activeUsers{
        overflow-y: scroll;
    }

    #modal{
        width: 200px;
        height: 120px;
        top: 20px;
    }

    #modal .modalH{
        font-size: 8px;
    }

    #close{
        font-size: 20px;
        right: 15px;
        top: 5px;
    }

    #wordForm .wordInp{
        height: 25px;
        font-size: 8px;
        margin-bottom: 10px;
    }

    #wordForm .wordBtn{
        width: 60px;
        font-size: 10px;
    }

    .guessWordDisp{
        top: 50px;
        font-size: 7px;
        width: 200px;
        height: 110px;
    }

    .guessWordDisp #guessWord{
        font-size: 20px;
    }

    .winner{
        width: 200px;
        height: 100px;
        top: 25px;
    }

    .winner .h{
        font-size: 14px;
        margin-top: 7px;
    }

    .winner .win{
        font-size: 16px;
    }

    .board{
        width: 50%;
    }

    .board .canvasDisplay .round{
        font-size: 9px;
    }

    .board .canvasDisplay .canvasInfo{
        font-size: 9px;
        margin-left: 5px;
    }

    .board .canvasDisplay .wordLength{
        font-size: 9px;
    }

    #canvas{
        width: 100%;
    }

    .canvasElements{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .canvasElements .colorPlate{
        margin-top: 20px;
    }

    .square{
        width: 10px;
        height: 10px;
    }


    .chooseBtn{
        padding: 2px;
        margin-top: 10px;
    }

    .chatArea{
        width: 25%;
    }

    .chatArea .chatHeading{
        font-size: 10px;
    }

    .chatArea .chatInbox{
        width: 97%;
    }

    .chatArea .chatInbox .msgInfo{
        border: 1px solid lightgrey;
        padding: 2px;
        text-transform: capitalize;
        background-color: whitesmoke;
        text-align: center;
    }

    .chatArea .chatInbox .chatMessages{
        border: 1px solid lightgrey;
        padding: 2px;
        word-wrap: break-word;
    }

    .guessed{
        border: 1px solid lightgrey;
        padding: 2px;
        word-wrap: break-word;
        color: limegreen;
        text-align: center;
        font-size: 10px;
    }

    .inp{
        width: 90%;
        height: 7vh;
        font-size: 10px;
    }

    .sendBtn{
        width: 99%;
        height: 7vh;
        background-color: tomato;
        color: whitesmoke;
    }

}